@import 'D:\\PROJECTS\\tools\\scss\\_functions';
@import 'D:\\PROJECTS\\tools\\scss\\_variables';
@import 'D:\\PROJECTS\\tools\\scss\\_mixins';

$blue: #0d6094;
$blue-light: #5cc9e6;
$grey: #a5adb0;
$shadow: lighten($color: #000000, $amount: 30);

@mixin min-screen($w) {
  @include media-breakpoint-down($w){
    @content;
  }
}
@mixin max-screen($w) {
  @include media-breakpoint-up($w){
    @content;
  }
}
@mixin hover {
  &:hover,&:active{
    @content;
  }
}

html,body{
  height: 100%;
}
body.blue-gradient{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient($blue-light,$blue);
  background-attachment: fixed;
  color: #fff;
}
.logo-wrapper{
  .logo{
    height: 100px;
    margin: 0 auto;
    @include min-screen(sm){
      height: 75px;
    }
  }
  @include min-screen(sm){
    display: none !important;
  }
}
.title{
  text-align: center !important;
  text-shadow: 1px 2px 5px $shadow;
  h1{
    font-family: 'Bookman Old Style';
    font-weight: bold;
    font-size: 1.9rem;
    width: 100%;
  }
  h2{
    font-family: 'Bookman Old Style';
    font-weight: bold;
    font-size: 2.2rem;
  }
  @include min-screen(sm){
    h1{
      font-size: 1.3rem;
    }
    h2{
      font-size: 1.4rem;
    }
  }
}
footer{
  position: relative;
  clear: both;
  margin-top: -150px;
  height: 100px;
}
.box-footer{
  margin: 3px;
  padding: 10px;
  background: $grey;
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 5px $shadow;
  transition: 200ms all ease-out;
  @include hover{
    color: $blue;
  }
}
.medsos-wrapper{
  @include min-screen(sm){
    padding: 5px;
  }
}
.box-medsos{
  background: rgba($grey,.7);
  padding: 15px 40px;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 5px $shadow;
  h4{
    text-decoration: underline;
    margin-bottom: 10px;
    text-shadow: 1px 2px 5px $shadow;
  }
  .icon{
    padding: 5px;
    display: inline-block;
    img{
      transition: 250ms all ease-out;
      width: 40px;
      @include min-screen(sm){
        width: 30px;
      }
    }
    @include hover{
      img{
        transform: scale(1.15);
      }
    }
  }
}
#wrapper{
  min-height: 83%;
}
#content{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding-bottom: 190px;
  .link-wrapper{
    padding: 10px 15px;
  }
  .cat{
    background: linear-gradient(to bottom,rgba($grey,.5) 100%,rgba(#fff,1) 100%,rgba($grey,.5) 100%);
    padding: 5px 15px;
    font-size: 1.5rem;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 1px 3px 5px rgba($shadow,.3);
    text-shadow: 1px 5px 5px rgba($shadow,.5);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    @include hover{
      filter: brightness(0.95);
    }
  }
  .link{
    @include make-col(12/5);
    @include min-screen(sm){
      @include make-col(12/1);
    }
    margin: 0 auto;
    text-align: center;
    clear: both;
    padding: 10px;
    display: none;
    &.show{
      display: block;
      animation: fadeIn 500ms;
      -webkit-animation: fadeIn 500ms;
    }
    a{
      color: #fff;
      background: linear-gradient(to bottom,rgba(#fff,.3) 100%,rgba(#fff,1) 100%,rgba(#fff,.3) 90%);
      padding: 5px 15px;
      font-size: 1.4rem;
      border-radius: 7px;
      box-shadow: 1px 3px 5px rgba($shadow,.3);
      text-shadow: 1px 5px 5px rgba($shadow,.5);
      transition: 200ms all ease-out;
      @include hover{
        color: $blue;
      }
    }
  }
}